[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = true
	enableSignedPush = false
[submit]
	mergeContent = true
[capability]
	administrateServer = group Administrators
	priority = batch group Non-Interactive Users
	streamEvents = group Non-Interactive Users
	streamEvents = group Event Streaming Users
	createAccount = group Administrators
	modifyAccount = group Administrators
[access "refs/*"]
	read = group Administrators
	read = group Non-Interactive Users
	read = group Registered Users
    label-Code-Review = block -2..+2 group Change Owner
    label-Code-Review = block -1..+1 group Change Owner
    create = group Administrators
[access "refs/heads/*"]
	create = group Administrators
	create = group Project Owners
	create = group STX-QE-Core
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	forgeCommitter = group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -1..+1 group Non-Interactive Users
	editTopicName = +force group Administrators
	editTopicName = +force group Project Owners
	editTopicName = group STX-QE-Core
	abandon = group Registered Users
	label-Verified = -1..+1 group Non-Interactive Users
	viewDrafts = group Administrators
	editAssignee = group STX-QE-Core
	deleteDrafts = group Administrators
	removeReviewer = group STX-QE-Core
	submit = group Administrators
	submit = group Project Owners
	submit = group STX-QE-Submitters
	submitAs = group STX-QE-Core
	publishDrafts = group STX-QE-Contributors
	publishDrafts = group STX-QE-Core
	push = group Administrators
    pushMerge = group Administrators
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	read = group Administrators
	read = group Project Owners
	create = group Administrators
	create = group Project Owners
	push = group Administrators
	push = group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -2..+2 group STX-QE-Core
	label-Code-Review = -1..+1 group STX-QE-Contributors
	submit = group Administrators
	submit = group Project Owners
	submit = group STX-QE-Core
[access "refs/tags/*"]
	create = group Administrators
	create = group Project Owners
	createTag = group Administrators
	createTag = group Project Owners
	createSignedTag = group Administrators
	createSignedTag = group Project Owners
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
    copyAllScoresIfNoCodeChange = true
    copyAllScoresIfNoChange = true
	value = -2 Ohh, hell no!
	value = -1 Hmm, I'm not a fan
	value =  0 No score, only a simple comment
	value = +1 I like, but need another to like it as well
	value = +2 Ohh, hell yes!
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[access "refs/for/*"]
	addPatchSet = group Registered Users
	create = group Administrators
[access "refs/for/refs/heads/baremetal"]
    addPatchSet = group stx-test-suite-branch-baremetal-core
	addPatchSet = group stx-test-suite-branch-baremetal
	push = group stx-test-suite-branch-baremetal-core
    push = group stx-test-suite-branch-baremetal
    pushMerge = group stx-test-suite-branch-baremetal-core
	pushMerge = group stx-test-suite-branch-baremetal
	create = group Administrators
[access "refs/for/refs/heads/master"]
    addPatchSet = group stx-test-suite-branch-master-core
	addPatchSet = group stx-test-suite-branch-master
    push = group stx-test-suite-branch-master-core
	push = group stx-test-suite-branch-master
    pushMerge = group stx-test-suite-branch-master-core
	pushMerge = group stx-test-suite-branch-master
	create = group Administrators
[access "refs/for/refs/heads/master_next"]
    addPatchSet = group stx-test-suite-branch-master-next-core
	addPatchSet = group stx-test-suite-branch-master-next
    push = group stx-test-suite-branch-master-next-core
	push = group stx-test-suite-branch-master-next
    pushMerge = group stx-test-suite-branch-master-next-core
	pushMerge = group stx-test-suite-branch-master-next
	create = group Administrators
[access "refs/for/refs/heads/configuration_support"]
    addPatchSet = group stx-test-suite-branch-configuration-support-core
	addPatchSet = group stx-test-suite-branch-configuration-support
    push = group stx-test-suite-branch-configuration-support-core
	push = group stx-test-suite-branch-configuration-support
    pushMerge = group stx-test-suite-branch-configuration-support-core
	pushMerge = group stx-test-suite-branch-configuration-support
	create = group Administrators
[access "refs/for/refs/heads/stage_1"]
    addPatchSet = group stx-test-suite-branch-stage-1-core
	addPatchSet = group stx-test-suite-branch-stage-1
    push = group stx-test-suite-branch-stage-1-core
	push = group stx-test-suite-branch-stage-1
    pushMerge = group stx-test-suite-branch-stage-1-core
	pushMerge = group stx-test-suite-branch-stage-1
	create = group Administrators
[access "refs/heads/master"]
	label-Code-Review = -2..+2 group stx-test-suite-branch-master-core
	label-Code-Review = -1..+1 group stx-test-suite-branch-master
	create = group Administrators
[access "refs/heads/master_next"]
	label-Code-Review = -2..+2 group stx-test-suite-branch-master-core
	label-Code-Review = -1..+1 group stx-test-suite-branch-master
	create = group Administrators
[access "refs/heads/baremetal"]
	label-Code-Review = -2..+2 group stx-test-suite-branch-baremetal-core
    label-Code-Review = -1..+1 group stx-test-suite-branch-baremetal
    create = group Administrators
[access "refs/heads/configuration_support"]
	label-Code-Review = -2..+2 group stx-test-suite-branch-configuration-support-core
	label-Code-Review = -2..+2 group Non-Interactive Users
    label-Code-Review = -1..+1 group stx-test-suite-branch-configuration-support
    create = group Administrators
[access "refs/heads/stage_1"]
	label-Code-Review = -2..+2 group stx-test-suite-branch-stage-1-core
	label-Code-Review = -1..+1 group stx-test-suite-branch-stage-1
	create = group Administrators
