[gerrit]
	basePath = git
	serverId = 5b6039d1-c4c4-448b-97fb-d028aadd5d88
	canonicalWebUrl = https://starlingxcodereview.intel.com/
	defaultForceUpdate = true
[database]
	type = h2
	database = /home/gerrit/tree/db/ReviewDB
[index]
	type = LUCENE
[auth]
	type = HTTP
	httpHeader = hiperezr
	httpExternalIdHeader = GITHUB_OAUTH_TOKEN
	loginUrl = /login
	loginText = Sign-in with GitHub
	registerPageUrl = "/#/register"
[receive]
	enableSignedPush = false
[user]
	mail = starlingx 
[sendemail]
	smtpServer = smtp.intel.com
	smtpUser = gerrit
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-8-openjdk-amd64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-https://127.0.0.1:8081/
	filterClass = com.googlesource.gerrit.plugins.github.oauth.OAuthFilter
[cache]
	directory = cache
[github]
	url = https://github.intel.com
	apiUrl = https://github.intel.com/api/v3
	clientId = acd7abf22fc11a3b2141
[plugin "avatars-external"]
    url = http://starlingxcodereview.intel.com/avatars/${user}.png
    #changeUrl = http://starlingxcodereview.intel.com/avatars
    sizeParameter = s=${size}x${size}
[plugin "events-log"]
    maxAge = 30
    returnLimit = 10000
	storeUrl = jdbc:h2:/home/gerrit/tree/events/db
    urlOptions = loglevel=INFO
    urlOptions = logUnclosedConnections=true
    copyLocal = true
[plugin "slack-integration"]
	proxy-host = proxy-fm.intel.com
	proxy-port = 911
